<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL Switcher - Configure</title>
    <link rel="stylesheet" href="../lib/tachyons-4.10.0.min.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body
    class="helvetica lh-copy near-black bg-near-white f5 overflow-container"
  >
    <div id="app">
      <header class="Header">
        <h1 class="Content mv0 lh-title">URL Switcher</h1>
        <p class="Content mv0">
          &copy; 2019
          <a href="https://mockbrian.com" class="black hover-gray"
            >Brian Mock</a
          >
        </p>
        <p class="Content">
          Note that the browser cache can interfere with URL Switcher. You can
          bypass the browser cache via a setting in the DevTools, as well as
          holding Shift while refreshing the page.
        </p>
        <div class="Content">
          <input
            id="config-enabled"
            type="checkbox"
            v-model="config.enabled"
            class="Checkbox Focus-Border"
          />
          <label for="config-enabled" class="Label">Enable URL Switcher</label>
        </div>
        <div class="Content">
          <button class="Button Focus-Border" type="button">Import...</button>
          <button class="Button Focus-Border" type="button">Export...</button>
        </div>
      </header>
      <main class="center mw7 pa2 dark-gray tc" v-if="!config.enabled">
        URL Switcher is disabled
      </main>
      <main class="center mw7" v-if="config.enabled">
        <section>
          <h2 class="H2">Remove CSP Rules</h2>
          <p>
            TODO: Explain Content-Security-Policy and why you would disable it
            Examples:
            <code>https://google.com</code> This will disable CSP on google.com,
            but not mail.google.com, and only when using HTTPS, not plain HTTP.
          </p>
          <div class="Card" v-for="(obj, index) in config.removeCSP">
            <div class="flex">
              <input
                v-bind:id="'removeCSP-enabled-' + index"
                type="checkbox"
                v-model="obj.enabled"
                class="Checkbox Focus-Border"
              />
              <label v-bind:for="'removeCSP-enabled-' + index" class="Label"
                >Enabled</label
              >
              <div class="flex-auto"></div>
              <button
                aria-label="Remove redirect rule"
                class="Remove Focus-Border"
                type="button"
                v-on:click="removeCSPByIndex(index)"
              >
                Remove
              </button>
            </div>
            <div class="PaddingLeft">
              <label v-bind:for="'removeCSP-origin-' + index" class="Label"
                >Origin</label
              >
              <input
                aria-label="Origin Pattern"
                v-bind:id="'removeCSP-origin' + index"
                class="Input Focus-Border Monospace"
                v-model="obj.originPattern"
              />
            </div>
          </div>
          <button
            class="Button Focus-Border"
            type="button"
            v-on:click="addCSP()"
          >
            Add CSP Rule
          </button>
        </section>
        <section>
          <h2 class="H2">Redirect URL Rules</h2>
          <p>
            Pattern matching is allowed for URLs. You can use <code>*</code> to
            match a URL chunk (a protocol, subdomain, section of a path, or a
            query string key or value).
          </p>
          <p>
            You can also use <code>{name}</code> to capture the value from the
            pattern matched. You can use this value in the "To" field by using
            the same syntax. You can use as many names as you want.
          </p>
          <div v-for="(obj, index) in config.redirect" class="Card">
            <div class="flex">
              <input
                v-bind:id="'redirect-enabled-' + index"
                type="checkbox"
                v-model="obj.enabled"
                class="Checkbox Focus-Border"
              />
              <label v-bind:for="'redirect-enabled-' + index" class="Label"
                >Enabled</label
              >
              <div class="flex-auto"></div>
              <button
                aria-label="Remove redirect rule"
                class="Remove Focus-Border"
                type="button"
                v-on:click="removeRedirectByIndex(index)"
              >
                Remove
              </button>
            </div>
            <div class="flex-auto PaddingLeft">
              <label v-bind:for="'redirect-from-' + index" class="Label"
                >From</label
              >
              <input
                v-bind:id="'redirect-from-' + index"
                class="Input Focus-Border Monospace"
                v-model="obj.fromPattern"
              />
            </div>
            <div class="flex-auto PaddingLeft">
              <label v-bind:for="'redirect-to-' + index" class="Label"
                >To</label
              >
              <input
                v-bind:id="'redirect-to-' + index"
                class="Input Focus-Border Monospace"
                v-model="obj.toPattern"
              />
            </div>
          </div>
          <button
            class="Button Focus-Border"
            type="button"
            v-on:click="addRedirect()"
          >
            Add Redirect Rule
          </button>
          <pre>{{ configJSON }}</pre>
        </section>
      </main>
    </div>
    <script src="../lib/webextension-polyfill-0.5.0.min.js"></script>
    <script type="module" src="configure.js"></script>
  </body>
</html>
