<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL Switcher</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" sizes="16x16" href="/img/icon-enabled.png" />
    <link rel="icon" sizes="32x32" href="/img/icon-enabled@2x.png" />
  </head>
  <body>
    <div id="app" v-cloak>
      <header class="Header Content">
        <img
          width="64"
          height="64"
          src="/img/icon-enabled.svg"
          alt=""
          class="Logo"
        />
        <h1 class="H1">URL Switcher</h1>
        <p class="MarginV-0">
          &copy; 2019
          <a href="https://mockbrian.com" class="Link-Black">Brian Mock</a>
        </p>
        <p>
          TODO: Note that the browser cache can interfere with URL Switcher. You
          can bypass the browser cache via a setting in the DevTools, as well as
          holding Shift while refreshing the page.
        </p>
        <div class="Flex-Row">
          <input
            id="settings-enabled"
            type="checkbox"
            v-model="settings.enabled"
            class="Checkbox Focus-Border"
          />
          <label for="settings-enabled" class="Label"
            >Enable URL Switcher</label
          >
        </div>
      </header>

      <main v-if="settings.enabled">
        <section>
          <h2 class="H2">Import / Export Settings</h2>
          <div class="Flex-Row">
            <button
              class="Button Focus-Border"
              type="button"
              v-on:click="showImportModal()"
            >
              Import...
            </button>
            <div class="PaddingLeft-Separator"></div>
            <button
              class="Button Focus-Border"
              type="button"
              v-on:click="showExportModal()"
            >
              Export...
            </button>
          </div>
        </section>
        <section>
          <h2 class="H2">Remove CSP Rules</h2>
          <p>
            TODO: Explain Content-Security-Policy and why you would disable it
            Examples:
            <code>https://google.com</code> This will disable CSP on google.com,
            but not mail.google.com, and only when using HTTPS, not plain HTTP.
          </p>
          <div class="Card" v-for="(obj, index) in settings.removeCSPRules">
            <div class="Flex-Row">
              <input
                v-bind:id="'removeCSP-enabled-' + index"
                type="checkbox"
                v-model="obj.enabled"
                class="Checkbox Focus-Border"
              />
              <label v-bind:for="'removeCSP-enabled-' + index" class="Label"
                >Enable Rule</label
              >
              <div class="Flex-Auto"></div>
              <button
                aria-label="Remove redirect rule"
                class="TextButton Color-Red Focus-Border"
                type="button"
                v-on:click="removeCSPByIndex(index)"
              >
                Remove Rule
              </button>
            </div>
            <div class="PaddingLeft Field">
              <label
                v-bind:for="'removeCSP-origin-' + index"
                class="Label Label-Field"
                >Origin</label
              >
              <input
                aria-label="Origin Pattern"
                v-bind:id="'removeCSP-origin-' + index"
                class="Input Focus-Border Monospace"
                v-model="obj.originPattern"
              />
            </div>
          </div>
          <button
            class="Button Focus-Border"
            type="button"
            v-on:click="addCSP()"
          >
            Add CSP Rule
          </button>
        </section>
        <section>
          <h2 class="H2">Redirect URL Rules</h2>
          <p>
            TODO: Pattern matching is allowed for URLs. You can use
            <code>*</code> to match a URL chunk (a protocol, subdomain, section
            of a path, or a query string key or value).
          </p>
          <p>
            You can also use <code>{name}</code> to capture the value from the
            pattern matched. You can use this value in the "To" field by using
            the same syntax. You can use as many names as you want.
          </p>
          <div v-for="(obj, index) in settings.redirectRules" class="Card">
            <div class="Flex-Row">
              <input
                v-bind:id="'redirect-enabled-' + index"
                type="checkbox"
                v-model="obj.enabled"
                class="Checkbox Focus-Border"
              />
              <label v-bind:for="'redirect-enabled-' + index" class="Label"
                >Enable Rule</label
              >
              <div class="Flex-Auto"></div>
              <button
                aria-label="Remove redirect rule"
                class="TextButton Color-Red Focus-Border"
                type="button"
                v-on:click="removeRedirectByIndex(index)"
              >
                Remove Rule
              </button>
            </div>
            <div class="Flex-Auto PaddingLeft Field">
              <label
                v-bind:for="'redirect-from-' + index"
                class="Label Label-Field"
                >From</label
              >
              <input
                v-bind:id="'redirect-from-' + index"
                class="Input Focus-Border Monospace"
                v-model="obj.fromPattern"
              />
            </div>
            <div class="Flex-Auto PaddingLeft Field">
              <label
                v-bind:for="'redirect-to-' + index"
                class="Label Label-Field"
                >To</label
              >
              <input
                v-bind:id="'redirect-to-' + index"
                class="Input Focus-Border Monospace"
                v-model="obj.toPattern"
              />
            </div>
          </div>
          <button
            class="Button Focus-Border"
            type="button"
            v-on:click="addRedirect()"
          >
            Add Redirect Rule
          </button>
        </section>
      </main>

      <div class="Modal" v-bind:hidden="!isImportModalVisible">
        <div class="Modal-Body Flex-Column">
          <h3 class="H3">Import Settings</h3>
          <textarea
            class="TextArea Monospace Flex-Auto Focus-Border"
            ref="importSettingsJSON"
            v-model="importSettingsJSON"
          ></textarea>
          <div class="Flex-Row PaddingTop-Separator">
            <div class="Flex-Auto"></div>
            <button
              type="button"
              class="TextButton Focus-Border"
              v-on:click="hideImportModal()"
            >
              Cancel
            </button>
            <div class="PaddingLeft-Separator"></div>
            <button
              type="button"
              class="Button Focus-Border"
              v-on:click="doImport()"
              v-bind:disabled="importSettingsJSONError !== ''"
            >
              Import
            </button>
          </div>
        </div>
      </div>

      <div class="Modal" v-bind:hidden="!isExportModalVisible">
        <div class="Modal-Body Flex-Column">
          <h3 class="H3">Export Settings</h3>
          <textarea
            class="TextArea Monospace Flex-Auto Focus-Border"
            ref="exportSettingsJSON"
            readonly
            v-model="settingsJSON"
          ></textarea>
          <div class="Flex-Row PaddingTop-Separator">
            <div class="Label" v-bind:hidden="!isCopiedMessageVisible">
              Copied Settings JSON
            </div>
            <div class="Flex-Auto"></div>
            <button
              type="button"
              class="TextButton Focus-Border"
              v-on:click="hideExportModal()"
            >
              Close
            </button>
            <div class="PaddingLeft-Separator"></div>
            <button
              type="button"
              class="Button Focus-Border"
              v-on:click="copySettings()"
            >
              Copy
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="../lib/webextension-polyfill-0.5.0.min.js"></script>
    <script type="module" src="settings.js"></script>
  </body>
</html>
