:root {
  --Color-ButtonBG: hsla(240, 10%, 10%, 0.1);
  --Color-ButtonBGHover: hsla(240, 10%, 10%, 0.15);
  --Color-Separator: hsl(240, 10%, 90%);
  --Color-Border: hsl(240, 10%, 80%);
  --Color-BorderHover: hsl(240, 10%, 50%);
  --Color-Focus: hsl(210, 70%, 50%);
  --Color-FocusOutline: hsl(210, 100%, 80%);

  --Rem-1-4: 0.25rem;
  --Rem-1-8: 0.125rem;
  --Rem-1-16: 0.0625rem;

  --Checkbox-Size: 2rem;
  --Button-Height: 2rem;
  --Input-Height: 2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.Table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.Th {
  font-weight: normal;
  text-align: left;
}

.H1 {
  font-weight: normal;
}

.H2 {
  font-weight: normal;
  border-top: 1px solid var(--Color-Separator);
  padding-top: 1rem;
}

.Monospace {
  font-family: "Input", "Menlo", monospace;
  font-size: 0.9rem;
}

.Header {
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

.Content {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
}

.Card {
  border-top: 1px solid var(--Color-Separator);
  padding: 1rem 0;
  margin: 1rem 0;
}

.Label-Field {
  min-width: 3rem;
  padding-right: 1rem;
}

.Field {
  display: flex;
  margin-top: 1rem;
}

.Card:last-of-type {
  border-bottom: 1px solid var(--Color-Separator);
}

.PaddingLeft {
  padding-left: 2.5rem;
}

.PaddingLeft-Separator {
  padding-left: 1rem;
}

.Input {
  box-sizing: border-box;
  height: var(--Input-Height);
  width: 100%;
  border: 1px solid var(--Color-Border);
  padding: 0.5rem;
  border-radius: 2px;
}

.Input:hover {
  border-color: var(--Color-BorderHover);
}

.Button {
  font: inherit;
  height: var(--Button-Height);
  padding: 0.25rem 1rem;
  border: 1px solid transparent;
  background: var(--Color-ButtonBG);
  border-radius: 2px;
}

.Button:hover {
  background: var(--Color-ButtonBGHover);
}

.Remove {
  height: 2rem;
  color: hsl(0, 100%, 40%);
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
}

.Remove:hover {
  border-color: hsl(0, 80%, 85%);
  background-color: hsl(0, 80%, 95%);
}

.Checkbox + .Label {
  padding-left: 0.5rem;
  height: var(--Checkbox-Size);
}

.Checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--Checkbox-Size);
  height: var(--Checkbox-Size);
  border-radius: 2px;
  background: white;
  border: 1px solid var(--Color-Border);
}

.Checkbox:hover {
  border-color: var(--Color-BorderHover);
}

.Checkbox:checked {
  background-image: url(/src/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Checkbox:checked:hover {
  box-shadow: inset 0 0 0 var(--Rem-1-16) white;
}

.Label {
  line-height: 2rem;
  user-select: none;
  display: inline-block;
}

.Focus-Border:focus {
  outline: 0;
  border-color: var(--Color-Focus);
  box-shadow: inset 0 0 0 var(--Rem-1-16) white,
    0 0 0 var(--Rem-1-8) var(--Color-FocusOutline);
}
