:root {
  --Focus-Color: #357edd;
  --Focus-Color-Outline: #96ccff;
  --Rem-1-4: 0.25rem;
  --Rem-1-8: 0.125rem;
  --Rem-1-16: 0.0625rem;
}

.Focus-Border:focus {
  outline: 0;
  border-color: var(--Focus-Color);
  box-shadow: inset 0 0 0 var(--Rem-1-16) white,
    0 0 0 var(--Rem-1-8) var(--Focus-Color-Outline);
}

.Remove {
  background-image: url(/src/remove.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.Checkbox:checked {
  background: var(--Focus-Color) center / contain no-repeat
    url(/src/checked.svg);
  background-size: contain;
}

.Checkbox:checked:hover {
  box-shadow: inset 0 0 0 var(--Rem-1-16) white;
}
